# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    my.cnf                                             :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: tayamamo <tayamamo@student.42tokyo.jp>     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/12/13 05:35:09 by tayamamo          #+#    #+#              #
#    Updated: 2020/12/13 08:06:27 by tayamamo         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

[mysqld]
user = root
port = 3306
socket=/var/lib/mysql/mysql.sock
datadir = /var/lib/mysql
bind-address = 0.0.0.0
skip-networking = false

[mysql]
# user = root
# password = root
port = 3306
socket=/var/lib/mysql/mysql.sock
